<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>ember-jsonapi | {{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">ember-jsonapi</h1>
      <h2 class="project-tagline">Create automatic JSONAPI endpoints based on incredibly simple JSON schemas.</h2>
      <nav>
        <a href="/home" class="btn">Home</a>
        <a href="/modules" class="btn">Modules</a>
        <a href="/guide" class="btn">Guide</a>
        <a href="/api" class="btn">API Docs</a>
        <a href="https://github.com/jesseditson/ember-jsonapi" class="btn">GitHub</a>
      </nav>
    </section>

    <section class="main-content">
      {{{body}}}

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/jesseditson/ember-jsonapi">ember-jsonapi</a> is maintained by <a href="https://github.com/jesseditson">jesseditson</a>.</span>
      </footer>

    </section>


  </body>
</html>
